{{ nom|upper }}
{# ce ci est un commentaire #}
{%if 'fabien' starts with 'f'%}
  commence par f
{% endif %}


<a href ="{{path('app_afficher')}}">lien1</a>
<a href ="{{url('app_afficher')}}">lien2</a>
<img src="{{asset('assets/images/esp8266.png')}}">
<scrits